.giftcard-mainpage {
    padding: 40px 20px 40px 20px;

    .gift-card-content {
        width: 100%;
        height: 101px;
        background: #FFC011;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        h5 {
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left; 
            margin-bottom: 0;
        }
    }

    .gift-card-scroll-bar {
        display: flex;
        overflow: auto;
        overflow: hidden;
        margin-bottom: 50px;

        .image-container {
            display: flex;
            align-items: center;
            gap: 20px;
            animation: scrollImages 50s linear infinite;
            animation-iteration-count: infinite;

            img {
                width: 230px;
                height: 150px;
                max-width: 6230px;
            }
        }

        @keyframes scrollImages {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(-100%);
            }
        }
    }

    .gift-card-page {
        width: 100%;
        height: 200px;
        border-radius: 8px;
        background: white;
        padding: 20px;

        .title {
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left; 
            margin-bottom: 0;
        }

        .gift-card-details {
            display: flex;
            align-items: center;
            justify-content: space-between;


            .gift-component {
                width: 30%;
                height: 102px;
                border-radius: 8px;
                cursor: pointer;
                border: 1px;
                padding: 15px;
                background: white;
                border: 1px solid rgba(0, 0, 0, .1);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: black;

                    img {
                        height: 60px;
                        margin-right: 20px;
                    }
    
                    .gift-title {
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left; 
                        margin-bottom: 0;
                    }
                }
            }

            .giftcard-component {
                width: 30%;
                height: 102px;
                border-radius: 8px;
                cursor: pointer;
                border: 1px;
                padding: 15px;
                background: white;
                border: 1px solid rgba(0, 0, 0, .1);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: black;

                    img {
                        height: 60px;
                        margin-right: 20px;
                    }
    
                    .card-title {
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left; 
                        margin-bottom: 0;
                    }
                }
            }

            .account-component {
                width: 30%;
                height: 102px;
                border-radius: 8px;
                cursor: pointer;
                border: 1px;
                padding: 15px;
                background: white;
                border: 1px solid rgba(0, 0, 0, .1);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: black;

                    img {
                        height: 60px;
                        margin-right: 20px;
                    }
    
                    .card-title {
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left; 
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .gift-card-main {
        width: 100%;
        height: 500px;
        border-radius: 8px;
        cursor: pointer;
        border: 1px;
        padding: 15px;
        background: white;
        border: 1px solid rgba(0, 0, 0, .1);
        margin-top: 30px;
        overflow: auto;

        .card-category {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
                
            a {
                text-decoration: none;

                .birthday-btn {
                    width: 170px;
                    height: 44px;
                    border-radius: 4px;
                    border: 1px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }

            a {
                text-decoration: none;

                .special-btn {
                    width: 170px;
                    height: 44px;
                    border-radius: 4px;
                    border: 1px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }

            a {
                text-decoration: none;

                .someone-btn {
                    height: 44px;
                    border-radius: 4px;
                    border: 1px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }

            a {
                text-decoration: none;

                .wedding-btn {
                    width: 170px;
                    height: 44px;
                    border-radius: 4px;
                    border: 1px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
            
            a {
                text-decoration: none;

                .baby-btn {
                    width: 170px;
                    height: 44px;
                    border-radius: 4px;
                    border: 1px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
        }

        .title {
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left; 
            margin-bottom: 10px;  
            margin-top: 10px;
        }

        .do-list {
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left; 
            margin-bottom: 0;
            margin-left: 10px;
        }

        .details {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            gap: 10px;

            .do-details {


                .title {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left; 
                    margin-bottom: 10px; 
                    margin-top: 10px;
                }
            }

            img {
                height: 300px;
            }

            .card-details {
                width: 50%;

                .card-component {
                    width: 100%;
                    height: 120px;
                    border-radius: 8px;
                    cursor: pointer;
                    border: 1px;
                    padding: 15px;
                    background: white;
                    border: 1px solid rgba(0, 0, 0, .1);
                    margin-bottom: 5px;

                    img {
                        height: 60px;
                        margin-right: 30px;
                        cursor: pointer;
                    }

                    .card-name {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left; 
                        margin-bottom: 0px; 
                        margin-right: 15px;
                    }

                    .card-value {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left; 
                        margin-bottom: 0px;
                    }

                    .description {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left; 
                        margin-bottom: 0px;
                    }

                    .buy-btn {
                        color: black;
                        width: 71px;
                        height: 25px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 18px;
                        letter-spacing: 0em;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    } 
                }
                
            }
        }
    }
}

.modal-dialog {
    min-width: 941px;
    border-radius: 8px;
    
    .pay-title {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;        
    }

    .pay-body {
        .payment-btn {
            width: 80px;
            height: 40px;
            border-radius: 4px;
            border: 1px;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
        } 

        .payment-upi {
          .upi {
            .form-check-label {
                margin-left: 30px;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
        
            .upi-id {
                margin-right: 40px;
            } 
        }
        
        .payment-wallets {
            .wallets {
                .form-check-label {
                    margin-left: 30px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-right: 50px;
                }
            }

            img {
                height: 28px;
            }

            .wallet-id {
                margin-right: 40px;
            }
        }

        .payment-paypal {
           .paypal {
                .form-check-label {
                    margin-left: 30px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-right: 50px;
                }
            }

            img {
                width: 100px;
                height: 26px;
            }

            .paypal-id {
                margin-right: 40px;
            } 
        }
        
        .payment-card {
            .card-payment {
                .form-check-label {
                    margin-left: 30px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-right: 30px;
                }
            }

            img {
                height: 28px;
                margin-right: 10px;
            }

            .accordion-body {
                    width: 100%;
                    height: 208px;
                    background: #F7FAFE;
                .form {
                    .form-group {
                        padding-left: 48px;
        
                        .form-input-card-number {
                            width: 290px;
                            height: 39px;
                            border: 1px solid rgba(0, 0, 0, .1);
                            border-radius: 6px;
                        }
        
                        .card-valid {
                            display: flex;
                            margin-top: 10px;
                            
                            .card-valid-till {
                                width: 80px;
                                height: 39px;
                                border-radius: 6px;
                                margin-right: 28px;
                                border: 1px solid rgba(0, 0, 0, .1);
                            }
        
                            .card-valid-mm {
                                width: 50px;
                                height: 39px;
                                border-radius: 6px;
                                margin-right: 28px;
                                border: 1px solid rgba(0, 0, 0, .1);
                            }
        
                            .card-valid-cvv {
                                width: 123px;
                                height: 39px;
                                border-radius: 6px;
                                border: 1px solid rgba(0, 0, 0, .1);
                            }
                        }
                    }
        
                    .submit {
                        padding-left: 48px;
                        margin-top: 15px;
                        .pay-btn {
                            width: 80px;
                            height: 44px;
                            border-radius: 4px;
                            border: 1px;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .payment-banking {
            .net-banking {

                .form-check-label {
                    margin-left: 30px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-right: 30px;
                }
            }

            img {
                height: 28px;
            }

            .banking-id {
                margin-right: 40px;
            }
        }

        .payment-cash-on-delivery {
            .cash {
                .form-check-label {
                    margin-left: 30px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
    }

    .pay-btn {
        width: 121px;
        height: 32px;
        border-radius: 4px;
        border: 1px;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
    }

    .modal-footer {
        justify-content: end;
    }
}
