.agree {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  margin-top: 30px;
  margin-bottom: 62px;

  a {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--bs-primary);
    text-decoration: none;
  }
}